{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_certificate/templates/dh-certificate-requirements-overview.html.twig #}
{# Debug output #}
{{ dump(_context) }}

<div class="requirements-overview">
  {% if sets is empty %}
    <p class="empty-message">{{ 'No requirement sets found.'|t }}</p>
  {% else %}
    {% for set_id, set in sets %}
      <div class="requirement-set {{ set.status ? 'enabled' : 'disabled' }}">
        <header class="requirement-set__header">
          <h2>{{ set.label }}</h2>
          <div class="requirement-set__status">
            <span class="badge status-{{ set.status ? 'enabled' : 'disabled' }}">
              {{ set.status ? 'Enabled'|t : 'Disabled'|t }}
            </span>
          </div>
        </header>

        {% if set.types is empty %}
          <p class="empty-message">{{ 'No requirements defined.'|t }}</p>
        {% else %}
          {% for type, requirements in set.types %}
            <div class="requirement-group">
              <h3>{{ type|capitalize }} <span class="requirement-count">{{ requirements|length }}</span></h3>
              <div class="requirement-list">
                {% for requirement in requirements %}
                  <div class="requirement-item">
                    <span class="requirement-label">{{ requirement.label }}</span>
                    <div class="requirement-operations">
                      <a href="{{ path('entity.requirement.edit_form', {'requirement': requirement.id}) }}" class="button button--small">{{ 'Edit'|t }}</a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        <div class="requirement-set__actions">
          <a href="{{ path('dh_certificate.requirement.add', {'requirement_set': set.id}) }}" class="button button--primary button--small">
            {{ 'Add Requirement'|t }}
          </a>
          <a href="{{ path('entity.requirement_set.edit_form', {'requirement_set': set.id}) }}" class="button button--small">
            {{ 'Edit Set'|t }}
          </a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>