{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_dashboard/templates/block--dh-dashboard-progress.html.twig #}
{{ dump(progress) }}
{{ dump(_context) }}
<div class="dh-dashboard-progress">
  <h3>Certificate Progress</h3>
  <div class="progress-summary">
    Completed: {{ progress.completed }} of {{ progress.total }} courses
  </div>
  <ul class="course-list">
    {% for course in progress.courses %}
      <li class="{{ course.status }}">{{ course.name }}</li>
    {% endfor %}
  </ul>
</div>