{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_dashboard/templates/dh-dashboard-news.html.twig #}
{{ attach_library('dh_dashboard/dashboard-news') }}
{{ attach_library('dh_dashboard/dashboard-pager') }}

<div{{ attributes.addClass('dh-dashboard-block') }}>
  <h2>{{ 'Latest News'|t }}</h2>
  
  {% if news.items is defined and news.items is not empty %}
    <div class="news-items-container">
      <div class="news-grid">
        {% for item in news.items %}
          <article class="dh-card news-item {{ item.category_class }}">
            <h3 class="card-title">
              <i class="fas fa-{{ item.icon }}"></i>
              {{ item.title }}
            </h3>
            <div class="card-meta">
              <span class="date">
                <i class="fas fa-calendar-alt"></i>
                {{ item.date }}
              </span>
              <span class="priority-indicator {{ item.priority_class }}">
                {{ item.priority|title }}
              </span>
            </div>
            <p class="card-content">{{ item.description }}</p>
          </article>
        {% endfor %}
      </div>
    </div>

    {# Include the shared pager template #}
    {% include 'dh-dashboard-pager.html.twig' with {
      'pager_data': pager_data
    } %}
  {% endif %}

  {# Debug output #}
  {% if show_debug %}
    <div class="debug-output">
      <pre>
        Template Variables:
        {{ _context|json_encode(constant('JSON_PRETTY_PRINT')) }}
      </pre>
    </div>
  {% endif %}
</div>

