{# filepath: /Users/ys2n/Code/ddev/drupal-dh/local/ddev/web/modules/custom/dh_dashboard/templates/dh-dashboard-program-info.html.twig #}
<div{{ attributes.addClass('dh-program-info') }}>
  {% if program_info.important_dates %}
    <section class="program-dates">
      <h2>{{ 'Important Dates'|t }}</h2>
      <div class="dates-grid">
        {% for date in program_info.important_dates %}
          <div class="dh-card date-item {{ date.class }}">
            <h3 class="card-title"><i class="fas fa-{{ date.icon }}"></i> {{ date.title }}</h3>
            <div class="card-meta">{{ date.date }}</div>
            <p>{{ date.description }}</p>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  {% if program_info.resources %}
    <section class="program-resources">
      <h2>{{ 'Resources'|t }}</h2>
      <div class="resources-grid">
        {% for resource in program_info.resources %}
          <a href="{{ resource.url }}" class="dh-card resource-item {{ resource.class }}">
            <h3 class="card-title"><i class="fas fa-{{ resource.icon }}"></i> {{ resource.title }}</h3>
            <p>{{ resource.description }}</p>
          </a>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</div>